// http://ionicframework.com/docs/v2/theming/
.blue-template {
    $primary: #387ef5;
 $text-color:                 red !default;
$link-color:                 color($colors, primary) !default;
$background-color:           red !default;
$subdued-text-color:         red !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$toolbar-background:         red !default;
$toolbar-border-color:       red !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     red !default;

$tabs-background:            red !default;
$tabs-border-color:          red !default;
$tabs-tab-color-inactive:    red !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      $background-color !default;
$list-border-color:          red !default;   
}
div[class*="-theme"] {
    height:100%;
}
.bar-button-menutoggle-md {
    order: 0;
}
.content-md hr {
    height: 1px;
}
.icon-menu {
    padding: 0 15px;
    font-size: 2.4rem;
}
.lessMargin {
    margin: 0;
}
.lessMarginTop {
    margin-top: 0;
}
.lessPadding {
    padding: 0;    
}
.lessScroll {
    overflow: hidden!important;
}
.lessBorder {
    border: 0!important;
}
.general-container {
    height: 100%;
    &.login {
        @include display-flex();
        @include align-items(center);
        @include justify-content(center);
    }
}
.login-container {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    background: #FFFFFF;
    width: 400px;
    padding: 2.5em 0;
    @include box-shadow(0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23));
    .login-logo {
        margin-bottom: 15px;
        height: 9.5em;
        img {
            height:  100%;
        }
    }
    .login-line {
        @include display-flex();
        .icon-login-line {
            background: #FFFFFF;
            padding: 0 2rem 0 0;
            height: 6.9rem;
            .icon {
                font-size: 2.3em;
                height: 100%;
                @include display-flex();
                @include align-items(flex-end);
                color: lighten(map-get($colors, primary), 20%)!important;
            }
        }
        .item-inner {
            border: 0!important;
        }
    }
    button {
        width: 300px;
        height: 42px;
    }
    .login-text {
        color: #616161;
        .link {
            color: map-get($colors, primary);
            font-weight: 500;
            margin-left: 8px;
        }
    }
}
.button-tile {
    width: 100%;
    margin: 0;
    height: 5.5em;
    padding-left: 0;
    .button-inner {
        @include justify-content(flex-start);
        ion-icon {
            @include display-flex();
            @include align-items(center);
            @include justify-content(center);
            background: #FFFFFF;
            font-size: 3em;
            height: 100%;
            width: 2.5em;
            color: #607D8B;
            padding: 1em;
            margin-right: 1em;
        }
    }
}
*{
   
}
//----------------header section//
$color-navigation: #235e85; 
$white: white;
.toolbar-background-md {
    border-color: rgb(178, 178, 178);
    background: $color-navigation;
}
.iconsDash{
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 0.6%;
    li{
        display: inline;
        padding-left: 5%;
        img{
            width: 5.5%;
            max-width: 100%;
        }
    }
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: $white;
    }
.icon .icon-md .ion-md-menu{
    color: $white;
}

@media(min-width: 320px) and (max-width: 768px){
    .iconsDash li img{
        width: 15%;
        margin-top: 6%;
    }
}
@media(min-width: 768px) and (max-width: 1024px){
    .iconsDash li img{
        width: 8%;
        margin-top: 3%;
    }
}
// Estilos para el login

.container{
    text-align: center;
    .letra{
        text-align: center;
        color:cornflowerblue;
        padding-bottom: 20px;
        font-size: 28px;
    }
    button{
        padding: 0px 60px;
    }
    .imagen{
        width: 110px;
        height: 110px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color:#47b2e4;
        padding: 30px;
        position: absolute;
        top: -80px;
        left: 120px;   
    }
    .text-input-md {
    text-align: center;
     }
    .text-input-ios {
    text-align: center;
    }
    .item-md {
    text-align: left;
     }
    .imagen1{
        width: 15px;
        height: 15px;
        padding-right: 2px;
    }
    ion-card{
       overflow: visible;
    }
    .card-md1 {
	position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-40%, -40%);
    -webkit-transform: translate(-53%, -40%);
    margin-top: 300px;
    padding-top: 70px;
    width: 350px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .button{
        margin: 0 auto;
    }
}
// shopping
.ShoppingCon{
    .pantalla{
        width: 160px;
        margin: 0 auto;
        padding: 70px 0px 18px 0px;
    }
    .card-imgs{
        background-color: #009384;
        width: 75px;
        padding: 15px;
        color: white;
        float: right;
    }
    .buton{
        background-color: #0069ba;
    }
    h2{
        color: #005e8a;
        margin-bottom: 15px;
    }
    p{
        font-size: 18px;
    }
    
    .card-md1 {
    margin: 10px 10px 0px 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #f9f9f9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   }
    #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
   }

   #form p {
   text-align: center;
   }
   #form label {
   font-size: 20px;
   }
   input[type="radio"] {
   display: none;
   }
   label {
   color: grey;
   }

  .clasificacion {
   direction: rtl;
   unicode-bidi: bidi-override;
   }
   label:hover,
   label:hover ~ label {
   color: orange;
   }
    .letra{
        font-size: 13px;
        position: absolute;
        top: 16px;
        left: 30px;
    }
    .letra1{
        position: absolute;
        top: 16px;
    }
}
// shopping
.ShoppingCon{
    .pantalla{
        width: 160px;
        margin: 0 auto;
        padding: 70px 0px 18px 0px;
    }
    .card-imgs{
        background-color: #009384;
        width: 74px;
        padding: 15px 0px 15px 4px;
        color: white;
        float: right;
        font-size: 21px;
    }
    .buton{
        background-color: #0069ba;
    }
    h2{
        color: #005e8a;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
    }
    
    .card-md1 {
    margin: 10px 10px 0px 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #f9f9f9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   }
    //estrellas
    #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
   }
   #form p {
   text-align: center;
   }
   #form label {
   font-size: 20px;
   }
   input[type="radio"] {
   display: none;
   }
   label {
   color: grey;
   }
  .clasificacion {
   direction: rtl;
   unicode-bidi: bidi-override;
   }
   label:hover,
   label:hover ~ label {
   color: orange;
   }
    .letra{
        font-size: 13px;
        position: relative;
        top: 9px;
        left: 30px;
    }
    .letra1{
        position: relative;
        top: -15px;
        left: 66px;
    }
    select{
        padding: 2px 17px 0px 2px;
        font-size: 24px;
    }
    .ico{
        position: absolute;
        top: 10px;
        left: 36px;
    }
}
//Section Lista
.listado{
    &.content-ios.outer-content {
    background: rgba(239, 239, 244, 0.14);
     }
    ion-card-content{
        background-color:#f3f5f7;
        width: 90%;
        height: 18%;
        margin: 0 auto;
        border-radius: 6px;
        margin-bottom: 30px;
        text-align: left;
        border: 1px solid rgba(232, 224, 224, 0.6);
    }
    #p{
        margin-top: 4px;
    }
 
    .p{
        width: 180px;
        float: right;
        text-align: left;
    }
    i{
        color: red;
        padding-right: 6px;
    }
    input{
        margin-top: 8px;
        border: 1px solid rgba(13, 69, 113, 0.3);
        width: 310px;
        padding: 7px 3px;
        border-radius: 2px;
    }
    .input{
        margin-top: 8px;
    }
    select{
        padding: 5px 16px;
        float: left;
        border: 1px solid rgba(13, 69, 113, 0.3);
        border-radius: 2px;
    }
    .selec{
        padding: 7px 7px;
        color:#0069ba;
        border: 1px solid rgba(13, 69, 113, 0.3);
        background-color: white;
        margin-top: 4px;
        border-radius: 2px;
    }
    .lapiz{
        width: 16px;
        padding-left: 4px;
        margin-right: 3px;
    }
    .boton{
       margin-top: 8px;
        border: 1px solid rgba(13, 69, 113, 0.3);
        width: 310px;
        padding: 2px 3px;
        border-radius: 2px;
        background-color: white;
    }
    .calendario{
        float: right;
        right: 2px;
        width: 23px;
        top: 9px;
        border: 1px solid rgba(13, 69, 113, 0.3);
    }
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
